<div class="form-header">
  <h2>{{ isEdit ? 'Modifier la catégorie' : 'Nouvelle catégorie' }}</h2>
  <mat-icon class="form-icon">{{ isEdit ? 'edit' : 'add_circle' }}</mat-icon>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nom de la catégorie</mat-label>
    <input matInput formControlName="name" placeholder="Ex: Électronique" />
    <mat-icon matSuffix>label</mat-icon>
    <mat-error *ngIf="form.get('name')?.hasError('required')">
      Le nom est obligatoire
    </mat-error>
    <mat-error *ngIf="form.get('name')?.hasError('minlength')">
      Minimum 2 caractères
    </mat-error>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button class="btn-submit rounded-btn" type="submit" [disabled]="form.invalid">
      <mat-icon>{{ isEdit ? 'save' : 'add' }}</mat-icon>
      {{ isEdit ? 'Enregistrer' : 'Ajouter' }}
    </button>
    <button mat-button class="btn-cancel rounded-btn" type="button" (click)="goBack()">
      <mat-icon>cancel</mat-icon> Annuler
    </button>
  </div>

</form>